body {
  margin-bottom: 0px;
}

header {
  padding: 20px 30px;
}
.rows {
  font-size: 1rem;
}
.rows td {
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

/* ---------- Billetera ------------- */

.saldo p {
  font-size: calc(0.6em + 2vw);
}

.resultado p {
  font-size: calc(0.6em + 2vw);
  padding: 1px 5px;
}

/* -------------- Nombre Presentacion --------------- */
.presentacion {
  font-size: 2.5rem;
}
.presentacion p {
  padding: 12px 0px;
}
.input {
  margin: 2vh auto;
  border: 0.5px solid black;
  border-radius: 10px;
  font-size: calc(0.8rem + 2vw);
  width: 80%;
}
.input::placeholder {
  font-size: calc(0.7rem + 2vw);
}
.btn {
  border-radius: 10px;
  padding: 10px 5px;
  font-size: calc(0.5rem + 2vw);
  margin: 10px auto 5px;
}
.button {
  border-radius: 10px;
  margin: 6px auto 4px;
  padding: 25px 5px;
}

.continuar {
  width: 75%;
}
/* -----------------Div Apuestas----------------------- */

.apuestas {
  margin: 10px auto;
}

/* --------------- Section 2 --------------- */

.cont_dados {
  margin: 1vw;
}
/* ---------------- Dados -------------- */
.dado1 {
  grid-area: "dado1";
}
.dado2 {
  grid-area: "dado2";
}

/* ---------------- Circulos -------------- */

.refresh {
  width: 20vw;
}
/* -----Tabla de resultados recientes-------*/

.ultimos_resultados {
  margin: 20px 10px;
  min-height: 100px;
}

.titulo_tabla {
  font-size: calc(0.7rem + 1vw);
  padding: 8px 5px;
}
/* --------- Footer ---------- */

footer {
  font-size: 1rem;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  body {
    height: calc(100vh + 100vw);
  }
}
